.my-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: black;
}

.my-cards > div {
  width: 100%;
}

.barn-desktop {
  width: 80%;
  /* margin-left: auto;
  margin-right: auto; */
  box-shadow: 0 0 3px 0 grey;
  border-radius: 5px;
  margin: 20px auto 0;
}

.barn-mobile {
  margin-top: 15px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  -ms-align-items: center;
  align-items: center;
}

.text-grey {
  font-weight: 100;
  color: grey;
}

.card-row {
  display: flex;
  align-items: center;
}

.card-row > svg {
  padding-right: 10px;
}

/* .imageHeader {
  margin: 20px;
} */

.colorRows {
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
}

.colorRow {
  height: 60px;
  width: 100%;
  margin-top: 0;
  /* border-left: 0.5px solid #f5f5f5; */
  /* border-right: 0.5px solid #f5f5f5; */
  /* margin: 1px; */
}

/* background: -webkit-linear-gradient(left, #629788, #629788 33%, grey 32%, grey 66%, blue 66%, blue 100%);
background: -o-linear-gradient(left, #629788, #629788 33%, grey 32%, grey 66%, blue 66%, blue 100%); */

.colorRow:nth-of-type(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(to right, #fdaeaa40,  #865e60);
}

.colorRow:nth-of-type(2) {
  background: linear-gradient(to right, #fcc4b040,  #876962);
}

.colorRow:nth-of-type(3) {
  background: linear-gradient(to right, #fed9ad40,  #857460);
}

.colorRow:nth-of-type(4) {
  background: linear-gradient(to right, #ffedad5e,  #847d60);
}

.colorRow:nth-of-type(5) {
  background: linear-gradient(to right, #fffdada3,  #84845c);
}

.colorRow:nth-of-type(5) {
  background: linear-gradient(to right, #edfdad61,  #7d8563);
}

.colorRow:nth-of-type(6) {
  background: linear-gradient(to right, #dbfbaf69,  #778265);
}

.colorRow:nth-of-type(7) {
  background: linear-gradient(to right, #c4fcad4f,  #6a855d);
}

.colorRow:nth-of-type(8) {
  background: linear-gradient(to right, #e2feea,  #60846b);
}

.colorRow:nth-of-type(9) {
  background: linear-gradient(to right, #aefdd957,  #5f8476);
}


.colorRow:nth-of-type(10) {
  background: linear-gradient(to right, #dbfff8,  #61837c);
}

.colorRow:nth-of-type(11) {
  background: linear-gradient(to right, #cbf4ff8a,  #607d88);
}

.colorRow:nth-of-type(12) {
  background: linear-gradient(to right, #aec4fe54,  #606b84);
}

.colorRow:nth-of-type(13) {
  background: linear-gradient(to right, #c4aeff40, #6b6084);
}

.colorRow:nth-of-type(14) {
  background: linear-gradient(to right, #ecaeff47,  #7f6185);
}

.colorRow:nth-of-type(15) {
  background: linear-gradient(to right, #ffadff45,  #875f7b);
}

.colorRow:nth-of-type(16) {
  background: linear-gradient(to right, #ffaec457, #ad647b);
}

.colorRow:nth-of-type(17) {
  background: linear-gradient(to right, #fac0d761, #841349ab);
}

.colorRow:nth-of-type(18) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to right, #d1d1d161, #646464);
}

.colorBlocks {
  display: flex;
}

.colorBlock {
  display: inline-block;
  height: 60px;
  width: 25%;
  margin-right: 2px;
}

.colorBlock:nth-of-type(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f62400;
}

.colorBlock:nth-of-type(2) {
  background: #ff7800;
}

.colorBlock:nth-of-type(3) {
  background: #fefb01;
}

.colorBlock:nth-of-type(4) {
  background: #f43df6;
}

.colorBlock:nth-of-type(5) {
  background: #01f500;
}

.colorBlock:nth-of-type(6) {
  background: #0430f6;
}

.colorBlock:nth-of-type(7) {
  background: #ae39ff;
}

.colorBlock:nth-of-type(8) {
  background: white;
}


.colorBlock:nth-of-type(9) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: black;
}

.welcome-2 {
  margin: 10px 0;
}

.MuiListItemIcon-root-273 {
  background: #eef6f2;
  border-radius: 100%;
  padding: 5px;
}

.dosDonts {
  display: flex;
}

.leftSide,
.rightSide {
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12),
}

.leftSide {
  padding-right: 3%;
}

.rightSide {
  padding-left: 3%;
}

.leftSide > ul,
.rightSide > ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.leftSide > ul > li,
.rightSide > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-align: center;
}

.leftSide > svg,
.rightSide > svg {
  align-self: flex-start;
}

.leftSide {
  color: #02c38f;
}

.rightSide {
  color: #cb5f00;
}

.leftSide > ul > li > span.text,
.rightSide > ul > li > span.text {
  text-align: left;
}

@media only screen and (min-width: 1000px) {
  .leftSide > ul > li > span.text,
  .rightSide > ul > li > span.text {
    padding-left: 20px;
  }

  .accomodation-expansion: {
    flex-direction: row;
  }
}

@media only screen and (max-width: 999px) {
  .leftSide > ul > li > span.text,
  .rightSide > ul > li > span.text {
    padding-left: 10px;
  }

  .accomodation-expansion {
    flex-direction: column;
  }

  .review-img {
    margin-top: 5px;
  }
}

.accomodation-expansion {
  display: flex;
  width: 100%
}

.accomodation-expansion > .row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  padding: 5px;
  text-align: left;
}

.accomodation-expansion > .row > svg {
  margin-right: 10px;
}

.my-cards h2 {
  font-family: 'Shadows Into Light', cursive !important;
  font-weight: 400;
}

/* .MuiCard-root-6 h2 {
  font-family: 'Shadows Into Light', cursive !important;
  font-weight: 400;
}

.MuiCardHeader-title-38 {
  font-family: 'Shadows Into Light', cursive !important;
  font-size: 200% !important;
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.MuiCardHeader-root-34 {
  padding-bottom: 0 !important;
}

.MuiTypography-colorTextSecondary-73 {
  font-weight: 100 !important;
  font-size: 110% !important;
}

.MuiCard-root-6 {
  background: rgba(255, 255, 255, 0.6) !important;
  color: rgba(0, 0, 0, 0.9) !important;
  line-height: 140% !important;
}

.MuiButton-containedPrimary-104 {
  background-color: #c1d5d0;
} */

/* .ControlledExpansionPanels-root-176,
.MuiPaper-root-7 {
  background: transparent !important;
} */

.review-img {
  opacity: 0.8;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  max-width: 223px;
  max-height: 57px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  transition: opacity 0.3s;
}

.review-img:hover {
    opacity: 0.3;
}

h3 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 15px;
}
