html {
    /* background-color: #4a5f5b; */
    /* background-color: #d4e9ea; */
  color: white;
    /* background: linear-gradient(90deg, #01a486 0, rgba(230, 230, 230, 0.4)); */
  /* background: -webkit-gradient(linear, left top, right bottom, from(#00503d), to(#ffffff)) fixed; */
  background: -webkit-repeating-radial-gradient(top left, circle, #a3c1b7, #f5f5f5 57%, #a3c1b7 103%) fixed}

body {
  min-height: 100000px;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 100%;
  width: 100%;
  opacity: 0.7;
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.overlay {
  background-color: rgba(113, 160, 148, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

h1 {
  color: #cbfffb;
  /* color: #d4e9 ea; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.description {
  color: white;
  font-size: 22px;
  line-height: 1.4;
  padding: 50px 0;
  text-align: center;
  width: 100%;

  a,
  a:hover,
  a:active,
  a:focus,
  a:visited {
    color: darken(white, 15%);
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid lighten(white, 15%);
  }
}
