#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  padding: 5px;
  display: flex !important;
  text-decoration: none;
  color: #d1d1d1;
  transition: color 0.2s;
  max-width: 290px !important;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  left: 16px;
  top: 16px;
  border-color: white !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

.bm-burger-bars:first-of-type {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bm-burger-bars:nth-of-type(3) {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bm-burger-bars:first-of-type,
.bm-burger-bars:nth-of-type(3) {
  background: #cbfefb !important;
}

.bm-burger-bars:nth-of-type(2) {
  border-radius: 100%;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 40px 0;
  font-size: 1.15em;
  background: linear-gradient(180deg,#344642 42px, rgb(69, 93, 89) 42px, #415652 113px, #5b7a75 113px, #577b6f 184px, #629788 184px, #629788 257px, #62a592 257px, #62a592 329px, #69b19d 329px, #e5edeb);
  /* background: linear-gradient(180deg, #629788, #f4f5f5); */
  box-shadow: 1px 1px 10px 0px #ffffffb0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}


/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


.menu-item,
.menu-item--active {
  height: 60px;
  width: 100%;
}

.menu-item {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: unset !important;
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
}

.menu-item .active {
  box-shadow: 0 2px 3px hsla(0, 0, 0, 0.7);
}

.menu-item:nth-of-type(1) {
  background: rgb(1, 164, 134, 1);
}

.menu-item:nth-of-type(2) {
  background: rgba(1, 164, 134, 0.8);
}

.menu-item:nth-of-type(3) {
    background: rgba(1, 164, 134, 0.6);
}

.menu-item:nth-of-type(4) {
    background: rgba(1, 164, 134, 0.4);
}

.menu-item:nth-of-type(5) {
    background: rgba(1, 164, 134, 0.2);
}

.menu-item--active {
  background: #61dafb;
  border-radius: 2px !important;
  box-shadow: 0 0px 50px hsla(0, 0, 0, 0.5);
  left: 50%;
  padding: 0 7px;
  position: absolute;
  transform: translateX(-50%);
  transition: all 300ms;
  z-index: -1;
}
